* {
  margin: 0;
  padding: 0;
}

body {
  background: #121212;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1140px;
  min-height: 100vh;
  margin: auto;
}

.content {
  flex: 1;
  text-align: center;
}

.border-360 {
  margin-top: -250px;
}

.cloudimage-360 canvas {
  width: 100% !important;
}

.cloudimage-360-icons-container {
  display: none !important;
}